<!-- extend base layout -->
{% extends "index_base.html" %}

{% block head_css %}
        {{ super() }}
        <link href="{{url_for('static',filename='css/custom.css')}}" rel="stylesheet">
{% endblock %}

{% block content %}

<div id="carousel-example-generic" class="carousel slide" data-ride="carousel">
    <ol class="carousel-indicators">
       <li data-target="#carousel-example-generic" data-slide-to="0" class="active"></li>
       <li data-target="#carousel-example-generic" data-slide-to="1" ></li>
       <li data-target="#carousel-example-generic" data-slide-to="2" ></li>
        <li data-target="#carousel-example-generic" data-slide-to="3" ></li>
    </ol>
    <!-- Wrapper for slides -->
    <div class="carousel-inner">
        <div class="item active">
            <div class="jumbotron" style="background: url('static/img/slide1.jpg');background-size: 100% 100%;background-repeat: no-repeat;">
            <div class="container">
            <h1><i class="fa fa-desktop"></i>.Net</h1>
            <p>{{_("Free. Cross-platform. Open source. A developer platform for building mobile apps.")}}</p>
            <center>
            <p><a class="btn btn-primary btn-lg" href="https://github.com/dpgaspar/Flask-AppBuilder"
                 role="button">{{_("Star it")}} <i class="fa fa-star"></i></a></p>
            </center>
            </div>
           </div>
        </div>

        <div class="item">
            <div class="jumbotron" style="background: url('static/img/slide2.jpg');background-size: 100% 100%;background-repeat: no-repeat;">
            <div class="container">
            <h1><i class="fa fa-github"></i> {{_(".Net")}}</h1>
                <p>{{_("Free. Cross-platform. Open source. A developer platform for building lot apps.")}}</p>
            <center>
                <p><a class="btn btn-primary btn-lg" href="https://github.com/dpgaspar/Flask-AppBuilder/issues" role="button">{{_("Issues")}} &raquo;</a></p>
            </center>
            </div>
            </div>
        </div>

        <div class="item">
            <div class="jumbotron" style="background: url('static/img/slide3.jpg');background-size: 100% 100%;background-repeat: no-repeat;">
            <div class="container">
            <h1><i class="fa fa-book"></i> {{_(".Net")}}</h1>
            <p>{{_("Free. Cross-platform. Open source. A developer platform for building web apps.")}}</p>
            <center>
            <p><a class="btn btn-primary btn-lg" href="http://flask-appbuilder.readthedocs.org/en/latest/" role="button">{{_("Documentation")}} &raquo;</a></p>
            </center>
            </div>
            </div>
        </div>

        <div class="item">
            <div class="jumbotron" style="background: url('static/img/slide4.jpg');background-size: 100% 100%;background-repeat: no-repeat;">
            <div class="container">
            <h1><i class="fa fa-play"></i> {{_(".Net")}}</h1>
            <p>{{_("Free. Cross-platform. Open source. A developer platform for building all your apps.")}}</p>
            <center>
            <p><a class="btn btn-primary btn-lg"  href="login" role="button">{{_("Login")}} &raquo;</a></p>
            </center>
            </div>
            </div>
        </div>
</div>

    <!-- Controls -->
  <a class="left carousel-control" href="#carousel-example-generic" data-slide="prev">
    <span class="glyphicon glyphicon-chevron-left"></span>
  </a>
  <a class="right carousel-control" href="#carousel-example-generic" data-slide="next">
    <span class="glyphicon glyphicon-chevron-right"></span>
  </a>

</div>

      <div class="row" style="background:url('static/img/polaroid.png')">
        <div class="col-md-7 col-md-offset-1 col-xs-offset-1">
          <h2 class="featurette-heading">{{_("Web")}}</span></h2>
            <ul>
          <li class="lead tight">{{_("Build web apps and services for <br>Windows, Linux, macOS, and Docker.")}}</li>
                </ul>
        </div>
        <div class="col-md-3 col-xs-3 col-md-offset-1 col-xs-offset-1">
          <h1><i class="fa fa-bolt fa-5x"></i></h1>
        </div>
      </div>

      <div class="row" style="background:url('static/img/fabric_1.png')">
          <div class="col-md-3 col-md-offset-1 col-xs-offset-1 ">
           <h1><i class="fa fa-lock fa-5x"></i></h1>
          </div>
          <div class="col-md-7 col-md-offset-1 col-xs-offset-1">
            <h2 class="featurette-heading">{{_("Mobile")}}</h2>
          <ul>
            <li class="lead tight">{{_("Use a single codebase to build native mobile apps <br>for iOS, Android, and Windows.")}}</li>
          </ul>
        </div>
      </div>

      <div class="row featurette" style="background:url('static/img/old_moon.png')">
        <div class="col-md-7 col-md-offset-1 col-xs-offset-1">
          <h2 class="featurette-heading">{{_("Desktop")}}</h2>
        <ul>
            <li class="lead tight">{{_("Create beautiful and compelling desktop apps <br>for Windows and macOS.")}}</li>
        </ul>
        </div>
        <div class="col-md-3 col-xs-3 col-md-offset-1 col-xs-offset-1">
          <h1><i class="fa fa-list-alt fa-5x"></i></h1>
        </div>
      </div>

       <div class="row" style="background:url('static/img/green_cup.png')">
          <div class="col-md-3 col-md-offset-1 col-xs-offset-1">
           <h1><i class="fa fa-cog fa-5x"></i></h1>
          </div>
          <div class="col-md-7 col-md-offset-1 col-xs-offset-1">
            <h2 class="featurette-heading">{{_("Microservices")}}</h2>
          <ul>
            <li class="lead tight">{{_("Create independently deployable microservices that <br>run on Docker containers")}}</li>
          </ul>
        </div>
      </div>

{% endblock %}
